astroid==2.4.2
colorama==0.4.3
cycler==0.10.0
Django==2.0.1
django-filter==1.1.0
djangorestframework==3.7.7
isort==4.3.21
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
Markdown==2.6.11
matplotlib==3.0.2
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
numpy==1.15.0
pylint==2.5.3
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2017.3
six==1.12.0
source==1.2.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
virtualenv==15.1.0
wrapt==1.12.1
